doctype html
html 
    head 
        meta(charset='utf-8')
        title Campers
    body 
        form(name='main_form' action='/main' method='post')
            -// 로고 이미지
            text(onclick="location.href='/main'") Campers
            text(onclick="location.href='/login'") 로그인
            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
                path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
            
            br

            select(id='locationSubject')
                option(selected='selected') 서울/인천/경기권
                option 충청권
                option 경상/부산권
                option 제주권
                option 강원권
                option 전라권
            input(type='text' placeholder='내용을 입력해주세요')
            button(type='button') 검색하기

            br

            input(type='radio' name='sortBy' checked='checked')
            label 등록순
            input(type='radio' name='sortBy')
            label 인기순

            br

            div(data-role='content')
                ul(data-role='campList')
                    -for (camp in campground)
                        div= campground[camp]