doctype html 
html
    head
        script(src='/warning.js') 
        title 마이페이지
    body
        h1 마이페이지
            h3
            label 내 정보
            input(type='button' value='수정')
            br
            textarea(name="myinformation", cols="30", rows="5",  readonly) 되나? 
            hr
            label 예약 요청 현황
            input(type='button' onclick="window.location.href = '/setcampinfo'" value='등록')
            br
            textarea(name="myreservation", cols="30", rows="10", readonly) 나도 놀고싶다
            br
            hr
        
        button(type="submit") 로그아웃
        br
        br
        button(type="submit") 회원 탈퇴