doctype html 
html 
    head 
        meta(charset='utf-8')
        title Reservation Complete 
    body 
        center
            img(src='/image/campers_logo.jpg' alt='logo title' width='100' onclick="location.href='/'")
            button(type='button' onclick="location.href='/mypage'" style='border: 0px none; background-color: transparent; float: right;')
                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
                    path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                    path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
                
            br

            text= totalDay
            label 박
            text= people 
            label 명
            br
            br
            text= price 
            label 원
            br 
            br
            div 예약 완료
            br
            div 공지사항
            br
            img(src='/image/icon-kakao.png')
            button(type='button' onclick="location.href='/'") 확인