doctype html 
html 
    head 
        meta(charset='utf-8')
        title Reservation Complete 
    body 
        text= totalDay
        label 박
        text= people 
        label 명
        br
        br
        text= price 
        label 원
        br
        br
        div 예약 완료
        br
        div 공지사항
        br
        button(type='button') 공유
        button(type='button' onclick="location.href='/'") 확인