doctype html 
html
    head
        title 후기 입력
        link(rel='stylesheet' href='/static/review.css' )
    body
         center

            img(src='/image/campers_logo.jpg' alt='logo title' width='100' onclick="location.href='/'")
            button(type='button' onclick="location.href='/mypage'" style='border: 0px none; background-color: transparent; float: right;')
                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16")
                        path(d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z")
                        path(fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z")
                
            br


            h1 후기 입력
            form(action = "/setreview" method="post" enctype ="multipart/form-data")
                label 캠핑장 이름
                input(class="test" value=`${camp_name}` name='camp_name' readOnly)
                p
                    h3 후기 입력란
                    
                    textarea(name="writing_content", cols="30", rows="10")
                p 
                    h3 사진 업로드
                    
                    input(name="reviewImage",type="file")
                p 
                    h3 별점 
                    div(class="star-rating")
                        input(type="radio" name="star_point" id="5-stars" value="5")
                        label(for="5-stars" class="star") ★
                        input(type="radio" name="star_point" id="4-stars" value="4")
                        label(for="4-stars" class="star") ★
                        input(type="radio" name="star_point" id="3-stars" value="3")
                        label(for="3-stars" class="star") ★
                        input(type="radio" name="star_point" id="2-stars" value="2")
                        label(for="2-stars" class="star") ★
                        input(type="radio" name="star_point" id="1-stars" value="1")
                        label(for="1-stars" class="star") ★


                button(type='submit') 작성
                button(type='button' onclick="location.href='/mypage'") 취소