doctype html 
html
    head
        title 질문 입력
    body
        h1 질문 입력
        form(action="/setqna" methoud="post")
            label 캠핑장 id 
            input(value=`${id}` readOnly)
            table(border=1)
                tr
                    th 제목
                    td
                        input(type="description")
                tr 
                    th 내용
                    td
                        textarea(name="description", cols="30", rows="10") 
                tr 
            br
            button(type='submit') 작성
            button(type='button' onclick="location.href='/camp'") 취소