doctype html 
html
    head
        title 질문 입력
    body
        h1 질문 입력
        form(action = "write_and_modify_QnA" methoud="post")
            table(border=1)
                tr
                    th 제목
                    td
                        input(type="description")
                tr 
                    th 내용
                    td
                        textarea(name="description", cols="30", rows="10") 
                tr 
            br
            input(type='button' onclick="window.location.href = '/camp'" value='작성완료')
            input(type='button' onclick="window.location.href = '/camp'" value='취소하기')